.container-fluid
  .row.top
    .col-md-5
    .col-md-1
      .login-form
        %h2.login Sign up
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = devise_error_messages!
          .field
            %br/
            = f.email_field :email, autofocus: true, placeholder: "Email"
          .field
            - if @minimum_password_length
              .snow
                #{@minimum_password_length} characters minimum
            = f.password_field :password, autocomplete: "off", placeholder: "Password"
          .field
            %br/
            = f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password"
          .actions
            %br
              %b
                = f.submit "Sign up"

        = render "devise/shared/links"
        .social
          %li.social-elem
            =link_to raw('<i class="fa fa-vk" aria-hidden="true"></i>'), user_vkontakte_omniauth_authorize_path, class: 'large'
          %li.social-elem
            =link_to raw('<i class="fa fa-twitter" aria-hidden="true"></i>'), user_facebook_omniauth_authorize_path, class: 'large'
          %li.social-elem
            =link_to raw('<i class="fa fa-facebook-official" aria-hidden="true"></i>'), user_twitter_omniauth_authorize_path, class: 'large'